<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/forum.css">
    <script src="https://use.fontawesome.com/3148242878.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Forum</title>
  </head>
  <body>

  <header>
    <% include partials/navbar_partial %>
  </header>

  <div class="coverHeader">
    <div class="grid">
      <div class="gridText">
        <h1 class="section-header">FORUMS</h1>
      </div>
    </div>
  </div>




    <div id="show_form" class="alert alert-info" role="alert">
      <form method="POST" action="/forum/" id="addtopic">
        <div class="form-group" enctype="application/x-www-form-urlencoded">
          <label for="formGroupExampleInput">Enter Topic Name:</label>
          <textarea name='text' type="text" class="form-control" id="formGroupExampleInput" placeholder="Topic Name"></textarea>
          <br/>
          <textarea name='description' type="text" class="form-control" id="formGroupExampleInput" placeholder="Description"></textarea>
          <br />
          <button type="submit" class="btn btn-primary">Create Topic</button>
        </div>
      </form>
    </div>

    <div>
    <% if(user) { %>
      <button id="add_topic" type="button" class="btn btn-success">Add New Topic</button>
    <% }  else { %>
    <form method="GET" action="/login">
      <button class="btn btn-success">Log in to Create a Topic</button>
    </form>
    <% } %>
  </div>

    <div>

      <section id="new-topics">
        <% for(var topic in topics) { %>
        <div class="card">
          <div class="card-header">
            <h2><a href="/forum/topics/<%= topics[topic]['id'] %>"><%= topics[topic]['title']%></a></h2>
            <section>
              Created by: <%= topics[topic].username %>
            </section>
            <div>
              <form method="post" action="/forum/topics/<%=topics[topic]['id']%>?_method=DELETE" id="delete-comment">
                <button type="submit"><i class="fas fa-trash-alt"></i></button>
              </form>
            </div>

            <div class="like" data-id="<%= topics[topic].id %>" data-rated="0">
              <i class="far fa-thumbs-up"></i>
              <% if(topics[topic]['rating'] === null) { %>
                <% topics[topic]['rating'] = 0 %>
              <% } %>
              <span class="likecounter"><%= topics[topic]['rating'] %></span>
              <i class="far fa-thumbs-down"></i>
            </div>

          </div>
        </div>
        <% } %>
      </section>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/scripts/topic_form_toggle.js"></script>
    <script type="text/javascript" src="/scripts/likes.js"></script>
  </body>
</html>